<textarea id="editor" name="form_input" form="codeform" data-editor="markdown" rows="12" style="width: 100%">{{ contents }}</textarea>

<div style="margin: 5px 0">
    <form action="{{ form_action }}" id="codeform" class="form-inline" method="POST">
        <div class="input-group col-sm-12 mb-2">
            <input type="text" class="form-control" id="inlineFormInputGroup1" name="user_test_input" placeholder="Custom Test | Example: {{ placeholder }}" value="{% if user_test_input and user_test_input != '' %}{{ user_test_input }}{% endif %}">
        </div>
        
        <div class="input-group col-sm-12 mb-2">
            <input type="text" class="form-control" id="inlineFormInputGroup2" name="number_of_random_tests" placeholder="Number of random tests (default: 5)" value="{% if number_of_random_tests and number_of_random_tests != '' %}{{ number_of_random_tests }}{% endif %}">
        </div>

        <input class="btn btn-primary btn-lg btn-block" type="submit">
    </form>
</div>

{% if output_debug != '' %}
<div style="margin: 30px 0">
    <h4 class="display-6 text-black text-center">Print Output</h4>
    <div style="border: 2px solid gray">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea4" rows="10" readonly>{{ output_debug }}</textarea>
    </div>
</div>
<div style="margin: 30px 0">
    <h4 class="display-6 text-black text-center">Print Results</h4>
    <div style="border: 2px solid {{ result_color }}">
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea4" rows="10" readonly>{{ output_answer }}</textarea>
    </div>
</div>
{% endif %}
