<footer id="footer">
    <div class="container">
        <p></p>
        <!--<p class="text-muted" style="text-align:center">Copyright &copy; <script>new Date().getFullYear()>2010&&document.write(""+new Date().getFullYear());</script> <a href="#">VAC: Vehicle Automatic Charge</a>, by <a href="https://www.fredrikbakken.no/" target="_blank">Fredrik Bakken</a>. All rights reserved.</p>-->
    </div>
</footer>