<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>CCI Portal</title>
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/stylesheet.css')}}">
    </head>
    <body>

        {% include 'includes/_navbar.html' %}
        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% include 'includes/_footer.html' %}

        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.1/ace.js"></script>
        <script type="text/javascript">
            // https://stackoverflow.com/questions/51906166/ace-editor-textarea-always-passes-empty-value-to-form

            // find each text area marked to have an editor
            $('textarea[data-editor]').each(function() {
                var textarea = $(this);
                var mode = textarea.data('editor');
                // create the editor div
                var div = $('<div>', {
                    'width': textarea.outerWidth(),
                    'height': textarea.outerHeight(),
                    'class': textarea.attr('class')
                }).insertBefore(textarea);
                // hide the original text area
                textarea.hide();
                // configure the editor
                var editor = ace.edit(div[0], {
                    value: textarea.val().replace("textarea", "ace!"),
                    theme: "ace/theme/twilight",
                    mode: 'ace/mode/python', // + mode,
                    newLineMode: 'unix',
                    tabSize: 4,
                    useSoftTabs: true,
                    wrap: true,
                }); 

                // update the text area before submitting the form
                textarea[0].form.addEventListener("submit", function() {
                    textarea.val(editor.getSession().getValue());
                });
            });
        </script>
    </body>
</html>