<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand display-4" href="/">CCI Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link lead" href="/arrays-and-strings">Arrays and Strings</a>
            </li>
            <li class="nav-item lead">
                <a class="nav-link" href="/linked-lists">Linked Lists</a>
            </li>
            <li class="nav-item lead">
                <a class="nav-link" href="/stacks-and-queues">Stacks and Queues</a>
            </li>
            <li class="nav-item lead">
                <a class="nav-link" href="/trees-and-graphs">Trees and Graphs</a>
            </li>
        </ul>
    </div>
</nav>