{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">Check Permutation</h1>
        <h3 class="display-6 text-black text-center">Arrays and Strings</h3>
        <p class="text-center">Given two strings, write a method to decide if one is a permutation of the other.</p>

        {% with form_action='/arrays-and-strings/check-permutation' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}