{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">Is Unique</h1>
        <h3 class="display-6 text-black text-center">Arrays and Strings</h3>
        <p class="text-center">Implement an algorithm to determine if a string has all unique characters. What if you cannot use additional data structures?</p>

        {% with form_action='/arrays-and-strings/is-unique' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}