{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">One Away</h1>
        <h3 class="display-6 text-black text-center">Arrays and Strings</h3>
        <p class="text-center">There are three types of edits that can be performed on strings: insert a character, remove a character, or replace a character. Given two strings, write a function to check if they are one edit (or zero edits) away.<br>EXAMPLE<br>pale, ple (true)<br>pales, pale (true)<br>pale, bale (true)<br>pale, bake (false)</p>

        {% with form_action='/arrays-and-strings/one-away' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}