{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">Palindrome Permutation</h1>
        <h3 class="display-6 text-black text-center">Arrays and Strings</h3>
        <p class="text-center">Given a string, write a function to check if it is a permutation of a palindrome. A palindrome is a word or phrase that is the same forwards and backwards. A permutation is a rearrangement of letters. The palindrome does not need to be limited to just dictionary words.<br>EXAMPLE<br>Input: Tact Coa<br>Output: True (permutations: "taco cat", "atco cta", etc.)</p>

        {% with form_action='/arrays-and-strings/palindrome-permutation' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}