{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">Rotate Matrix</h1>
        <h3 class="display-6 text-black text-center">Arrays and Strings</h3>
        <p class="text-center">Given an image represented by an NxN matrix, where each pixel in the image is 4 bytes, write a method to rotate the image by 90 degrees. Can you do this in place?</p>

        {% with form_action='/arrays-and-strings/rotate-matrix' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}