{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">String Compression</h1>
        <h3 class="display-6 text-black text-center">Arrays and Strings</h3>
        <p class="text-center">Implement a method to perform basic string compression using the counts of repeated characters. For example, the string aabcccccaaa would become a2b1c5a3. If the 'compressed' string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a - z).</p>

        {% with form_action='/arrays-and-strings/string-compression' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}