{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">URLify</h1>
        <h3 class="display-6 text-black text-center">Arrays and Strings</h3>
        <p class="text-center">Write a method to replace all spaces in a string with '%20'. You may assume that the string has sufficient space at the end to hold the additional characters, and that you are given the "true" length of the string.<br>EXAMPLE<br>Input: "Mr John Smith     ", 13<br>Output: "Mr%20John%20Smith"</p>

        {% with form_action='/arrays-and-strings/urlify' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}