{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">Zero Matrix</h1>
        <h3 class="display-6 text-black text-center">Arrays and Strings</h3>
        <p class="text-center">Write an algorithm such that if an element in an MxN matrix is 0, its entire row and column are set to 0.</p>

        {% with form_action='/arrays-and-strings/zero-matrix' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}