{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 20px 0">
        <h1 class="display-2 text-black text-center">Arrays and Strings</h1>
    </div>


    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['1'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['1'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['1'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.1 Is Unique
                        </h5>
                        <p class="card-text">Implement an algorithm to determine if a string has all unique characters. What if you cannot use additional data structures?</p>
                        <a href="/arrays-and-strings/is-unique" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['2'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['2'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['2'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.2 Check Permutation
                        </h5>
                        <p class="card-text">Given two strings, write a method to decide if one is a permutation of the other.</p>
                        <a href="/arrays-and-strings/check-permutation" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['3'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['3'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['3'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.3 URLify
                        </h5>
                        <p class="card-text">Write a method to replace all spaces in a string with '%20'. You may assume that the string has sufficient space at the end to hold the additional characters, and that you are given the "true" length of the string.</p>
                        <a href="/arrays-and-strings/urlify" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['4'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['4'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['4'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.4 Palindrome Permutation
                        </h5>
                        <p class="card-text">Given a string, write a function to check if it is a permutation of a palindrome. A palindrome is a word or phrase that is the same forwards and backwards. A permutation is a rearrangement of letters. The palindrome does not need to be limited to just dictionary words.</p>
                        <a href="/arrays-and-strings/palindrome-permutation" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['5'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['5'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['5'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.5 One Away
                        </h5>
                        <p class="card-text">There are three types of edits that can be performed on strings: insert a character, remove a character, or replace a character. Given two strings, write a function to check if they are one edit (or zero edits) away.</p>
                        <a href="/arrays-and-strings/one-away" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['6'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['6'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['6'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.6 String Compression
                        </h5>
                        <p class="card-text">Implement a method to perform basic string compression using the counts of repeated characters. For example, the string aabcccccaaa would become a2b1c5a3. If the "compressed" string would not become smaller than the original string, your method should return the original string. You can assume the string has only uppercase and lowercase letters (a - z).</p>
                        <a href="/arrays-and-strings/string-compression" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['7'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['7'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['7'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.7 Rotate Matrix
                        </h5>
                        <p class="card-text">Given an image represented by an NxN matrix, where each pixel in the image is 4 bytes, write a method to rotate the image by 90 degrees. Can you do this in place?</p>
                        <a href="/arrays-and-strings/rotate-matrix" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['8'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['8'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['8'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.8 Zero Matrix
                        </h5>
                        <p class="card-text">Write an algorithm such that if an element in an MxN matrix is 0, its entire row and column are set to 0.</p>
                        <a href="/arrays-and-strings/zero-matrix" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['9'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['9'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['9'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            1.9 String Rotation
                        </h5>
                        <p class="card-text">Assume you have a method isSubstring which checks if one word is a substring of another. Given two strings, s1 and s2, write code to check if s2 is a rotation of s1 using only one call to isSubstring (e.g. "waterbottle" is a rotation of "erbottlewat").</p>
                        <a href="/arrays-and-strings/string-rotation" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}