
{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="jumbotron text-center cc-color-primary" style="margin: 35px 0">
        <h1 class="display-4 text-white">CCI Portal</h1>
        <p class="lead text-white">A web application for practicing problem solving of interview challenges.</p>
        <hr class="my-4">
        <p class="text-white"><b class="lead">Source of Information</b></br>All questions can be found in the book: <a href="http://www.crackingthecodinginterview.com" style="color: white" target="_blank">Cracking the Coding Interview (6th edition)</a>.</p>
    </div>

{% endblock %}
