{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 20px 0">
        <h1 class="display-2 text-black text-center">Linked Lists</h1>
    </div>


    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['1'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['1'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['1'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            2.1 Remove Duplicates
                        </h5>
                        <p class="card-text">Write code to remove duplicates from an unsorted linked list. How would you solve this problem if a temporary buffer is not allowed?</p>
                        <a href="/linked-lists/remove-duplicates" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['2'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['2'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['2'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            2.2 Return Kth to Last
                        </h5>
                        <p class="card-text">Implement an algorithm to find the kth to last element of a singly linked list.</p>
                        <a href="/linked-lists/return-kth-to-last" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['3'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['3'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['3'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            2.3 Delete Middle Node
                        </h5>
                        <p class="card-text">Implement and algorithm to delete a node in the middle (i.e., any node but the first and last node, not necessarily the exact middle) of a singly linked list, given only access to that node.</p>
                        <a href="/linked-lists/delete-middle-node" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['4'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['4'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['4'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            2.4 Partition
                        </h5>
                        <p class="card-text">Write code to partition a linked list around a value x, such that all nodes less than x come before all nodes greater than or equal to x. If x is contained within the list, the values of x only need to be after the elements less than x. The partition element x can appear anywhere in the "right partition"; it does not need to appear between the left and right partitions.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['5'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['5'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['5'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            2.5 Sum Lists
                        </h5>
                        <p class="card-text">You have two numbers represented by a linked list, where each node contains a single digit. The digits are stored in reverse order, such that 1's digit is at the head of the list. Write a function that adds the two numbers and returns the sum as a linked list.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['6'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['6'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['6'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            2.6 Palindrome
                        </h5>
                        <p class="card-text">Implement a function to check if a linked list is a palindrome.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['7'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['7'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['7'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            2.7 Intersection
                        </h5>
                        <p class="card-text">Given two (singly) linked lists, determine if the two lists intersect. Return the intersecting node. Note that the intersection is defined based on reference, not value. That is, if the kth node of the first linked list is the exact same node (by reference) as the jth node of the second linked list, then they are intersecting.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['8'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['8'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['8'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            2.8 Loop Detection
                        </h5>
                        <p class="card-text">Given a circular linked list, implement an algorithm that returns the node at the beginning of the loop.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}