{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 20px 0">
        <h1 class="display-2 text-black text-center">Stacks and Queues</h1>
    </div>


    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['1'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['1'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['1'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            3.1 Three in One
                        </h5>
                        <p class="card-text">Describe how you could use a single array to implement three stacks.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['2'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['2'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['2'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            3.2 Stack Min
                        </h5>
                        <p class="card-text">How would you design a stack which, in addition to push and pop, has a function min which returns the minimum element? Push, pop and min should all operate in O(1) time.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['3'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['3'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['3'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            3.3 Stack of Plates
                        </h5>
                        <p class="card-text">Image a (literal) stack of plates. If the stack gets too high, it might topple. Therefore, in real life, we would likely start a new stack when the previous stack exceeds some threshold. Implement a data structure SetOfStacks that mimic this. SetOfStacks should be composed of several stacks and should create a new stack once the previous one exceeds capacity. SetOfStacks.push() and SetOfStacks.pop() should behave identically to a single stack (that is, pop() should return the same values as it would if there were just a single stack). Implement a function popAt(int index) which performas a pop operation on a specific sub-stack.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['4'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['4'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['4'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            3.4 Queue via Stacks
                        </h5>
                        <p class="card-text">Implement a MyQueue class which implements a queue using two stacks.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['5'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['5'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['5'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            3.5 Sort Stack
                        </h5>
                        <p class="card-text">Write a program to sort a stack such that the smallest items are on the top. You can use an additional temporary stack, but you may not copy the elements into any other data structure (such as an array). The stack supports the following operations: push, pop, peek, and isEmpty.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['6'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['6'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['6'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            3.6 Animal Shelter
                        </h5>
                        <p class="card-text">An animal shelter, which holds only dogs and cats, operates on a strictly "first in, first out" basis. People must adopt either the "oldest" (based on arrival time) of all animals at the shelter, or they can select whether they would prefer a dog or a cat (and will receive the oldest animal of that type). They cannot select which animal they would like. Create the data structures to maintain this system and implement operations such as enqueue, dequeueAny, dequeueDog, and dequeueCat. You may use the built-in LinkedList data structure.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}