{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 20px 0">
        <h1 class="display-2 text-black text-center">Trees and Graphs</h1>
    </div>


    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['1'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['1'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['1'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.1 Route Between Nodes
                        </h5>
                        <p class="card-text">Given a directed graph, design an algorithm to find out whether there is a route between two nodes.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['2'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['2'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['2'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.2 Minimal Tree
                        </h5>
                        <p class="card-text">Given a sorted (increasing order) array with unique integer elements, write an algorithm to create a binary search tree with minimal height.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['3'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['3'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['3'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.3 List of Depths
                        </h5>
                        <p class="card-text">Given a binary tree, design an algorithm which creates a linked list of all the nodes at each depth (e.g. if you have a tree with depth D, you'll have D linked lists).</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['4'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['4'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['4'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.4 Check Balanced
                        </h5>
                        <p class="card-text">Implement a function to check if a binary tree is balanced. For the purposes of this question, a balanced tree is defined to be a tree such that the heights of the two subtrees of any node never differ by more than one.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['5'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['5'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['5'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.5 Validate BST
                        </h5>
                        <p class="card-text">Implement a function to check if a binary tree is a binary search tree.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['6'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['6'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['6'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.6 Successor
                        </h5>
                        <p class="card-text">Write an algorithm to find the "next" node (i.e. in-order successor) of a given node in a binary search tree. You may assume that each node has a link to its parent.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['7'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['7'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['7'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.7 Build Order
                        </h5>
                        <p class="card-text">You are given a list of projects and a list of dependencies (which is a list of pairs of projects, where the second project is dependent on the first project). All of a project's dependencies must be built before the project is. Find a build order that will allow the projects to be built. If there is no valid build order, return an error.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['8'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['8'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['8'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.8 First Common Ancestor
                        </h5>
                        <p class="card-text">Design an algorithm and write code to find the first common ancestor of two nodes in a binary tree. Avoid storing additional nodes in a data structure. Note: This is not necessarily a binary search tree.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['9'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['9'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['9'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.9 BST Sequences
                        </h5>
                        <p class="card-text">A binary search tree was created by traversing through an array from left to right and inserting each element. Given a binary search tree with distinct elements, print all possible arrays that could have led to this tree.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['10'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['10'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['10'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.10 Check Subtree
                        </h5>
                        <p class="card-text">T1 and T2 are two very large binary trees, with T1 much bigger than T2. Create an algorithm to determine if T2 is a subtree of T1. A tree T2 is a subtree of T1 if there exists a node n in T1 such that the subtree of n is identical to T2. That is, if you cut off the tree a node n, the two trees would be identical.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin: 15px 0">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['11'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['11'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['11'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.11 Random Node
                        </h5>
                        <p class="card-text">You are implementing a binary tree class from scratch which, in addition to insert, find, and delete, has a method getRandomNode() which returns a random node from the tree. All nodes should be equally likely to be chosen. Design and implement an algorithm for getRandomNode, and explain how you would implement the rest of the methods.</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            {% if challenge_statuses['12'] == 'Unanswered' %}
                            <span class="badge badge-pill badge-secondary"> </span>
                            {% elif challenge_statuses['12'] == 'Incorrect' %}
                            <span class="badge badge-pill badge-danger"> </span>
                            {% elif challenge_statuses['12'] == 'Correct' %}
                            <span class="badge badge-pill badge-success"> </span>
                            {% endif %}
                            4.12 Paths with Sum
                        </h5>
                        <p class="card-text">You are given a binary tree in which each node contains an integer alue (which might be positive or negative). Design an algorithm to count the number of paths that sum to a given value. The path does not need to start or end at the root or a leaf, but it must go downwards (traveling only from parent nodes to child nodes).</p>
                        <a href="#" class="btn btn-primary btn-block">Go to challenge</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}