{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">Delete Middle Node</h1>
        <h3 class="display-6 text-black text-center">Linked Lists</h3>
        <p class="text-center">Implement an algorithm to delete a node in the middle (i.e., any node but the first and last node, not necessarily the exact middle) of a singly linked list, given only access to that node.</p>

        {% with form_action='/linked-lists/delete-middle-node' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}