{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">Remove Duplicates</h1>
        <h3 class="display-6 text-black text-center">Linked Lists</h3>
        <p class="text-center">Write code to remove duplicates from an unsorted linked list. How would you solve this problem if a temporary buffer is not allowed?</p>

        {% with form_action='/linked-lists/remove-duplicates' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}