{% extends 'includes/_layout.html' %}

{% block body %}

    <div class="container" style="margin: 10px 0">
        <h1 class="display-6 text-black text-center">Return Kth to Last</h1>
        <h3 class="display-6 text-black text-center">Linked Lists</h3>
        <p class="text-center">Implement an algorithm to find the kth to last element of a singly linked list.</p>

        {% with form_action='/linked-lists/return-kth-to-last' %}
        {% include 'includes/_codeform.html' %}
        {% endwith %}
    </div>

{% endblock %}